<div id="new" ng-controller='addCtrl'>
	<form ng-submit="addJobApp(submitDate, jobTitle, company, jobDescLink, interviewerNameAndTitle, interviewerContact, interviewerNotes, followUpEmail)">
		<h3>Application Submitted</h3>
		<md-datepicker type="date" placeholder="Date Submitted" ng-model="submitDate"></md-datepicker>
		<h3>Job Title</h3>
		<input type="text" placeholder="Title" ng-model="jobTitle">
		<h3>Company</h3>
		<input type="text" placeholder="Name" ng-model="company">
		<h3>Job Description</h3>
		<input type="text" placeholder="Link" ng-model="jobDescLink">
		<h3>Interviewer</h3>
		<input type="text" placeholder="Name and Title" ng-model="interviewerNameAndTitle">
		<h3>Interviewer Contact</h3>
		<input type="text" placeholder="Email or Phone" ng-model="interviewerContact">
		<h3>Interview Notes</h3>
		<input type="text" placeholder="Notes" ng-model="interviewerNotes">
		<h3>Follow Up Email Sent</h3>
		<input type="checkbox" placeholder="" ng-model="followUpEmail">
		<div id="formBtns">
		<md-button class="md-raised" id="back" ng-click="homePage()">Back</md-button>
		<md-button class="md-raised" type="submit">Add</md-button>
		</div>
	</form>
</div>