td {
    text-align: center;
    vertical-align: middle;
}

md-checkbox.dotted .md-icon {
 border-width: 1px;
 border-style: dashed;
}

md-checkbox.md-checked.purple .md-icon {
 background-color: rgba(103, 58, 183, 0.87);
}

.md-button.md-raised:not([disabled]) {
    font-size: .75rem;
}

.md-button {
  padding: 0 3px 0 3px;
  margin: 3px 4px;
  min-width: 50px;
  border-radius: 3px;
  // font-size: 14px;
  // text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  // text-decoration:none;
  // border: none;
  // outline: none;
}

.md-button.delete {
	color: red;
	padding: 0 10px;
}

.md-button.add {
	font-weight: 500;
	padding: 2px 15px;
	margin: 0 auto;
	text-align: center;
}