body, html {
	width: 100%;
}

h2 {
	text-align: center;
	margin-bottom: 3%;
}

table {
    table-layout: fixed;
}

td {
    text-align: center;
    vertical-align: middle;
}

md-checkbox.dotted .md-icon {
	border-width: 1px;
	border-style: dashed;
}

.md-button.md-raised:not([disabled]) {
    font-size: .75rem;
}

.md-button {
	display: inline-block;
	padding: 0 3px 0 3px;
	margin: 3px 4px;
	min-width: 50px;
	border-radius: 3px;
	text-transform: uppercase;
	font-weight: 300;
}

.md-button.delete {
	color: red;
	padding: 0 10px;
}

.md-button.add {
	display: block;
	margin: 4% auto;
	font-weight: 500;
	padding: 2px 15px;
	text-align: center;
}

#new {
	text-align: center;
}

#formBtns {
	margin: 1.5% auto 3% auto;
}

#back {
	color: red;
	display: inline-block;
}

footer {
	text-align: center;
	margin-bottom: 2%;
}